data/
project/
target/
repo/


# OS Generated
#=============
.DS_Store
*~


# Python/Jupyter
#===============
*.pyc
.ipynb_checkpoints
__pycache__


# IntelliJ
#=========
.idea/


# File types
#===========
*.xls


TODO.txt

